.content-header{padding-top: 40px;}
.content-header header{width: 95%; height: auto;}
.abre-pop-registro{display: none;}
.content-header header .top-header{width: 64%;}
.content-header header .top-header ul.redes-sociales{margin-right: 20.1%;}
.content-header header .top-header form{float: right;}
.content-header header nav#main-menu{width: 100%;}
.content-header header nav#main-menu ul li{display: inline-block;float: none;margin-right: 1%;}
.content-header header nav#main-menu ul li:hover .submenu{display: none;}

.logo{width: 156px;height: 99px;background-size: 100% auto;margin-top: -43px;}
.logo a{width: 156px;height: 99px;}

.container{width: 95%;}
.main section{display: block;width: auto;margin-bottom: 0;margin-right: 322px;float: none;}
.main section .un-medio{width: 48.2%; margin-right: 3.4%;}
.main section .un-medio img{height: auto;}
.main section .un-medio .footer-un-medio{height: auto;}
.main aside{position: absolute;overflow: hidden;width: 300px;top: 0;right: 0;float: none;}
.play_2.home_vid{margin-left: 50%;left: -44.5px;margin-top: -10%;}
.autor-home img{width: 21.6%; height: auto; margin-top: 40px;top: 0;}
.single article.autor-home .info-autor,
.autor-home .info-autor{margin-left: 28.4%;width: 72.3%; margin-right: 3.3%; border: 0;}
.autor-home.single-autor blockquote{display: block;}
.autor-home.single-autor{border: 0;}
.single article.autor-home .post-autor,
.autor-home .post-autor {width: 71.3%;float: right;}
.autor-home.single-autor .cont-image img{margin-left: 0; float: none;}
.mas-autor-t{margin-left: 28.4%;}
.autor-home.single-autor .cont-image{text-align: center;width: auto; height: auto; margin: 0 auto 15px auto;float: none;}
.sigue-colaborador{left: 0;position: relative;top: 0;overflow: hidden;margin-bottom: 21px;}
.entero.divicion.autor span.line{width: 20%;}
.autor-home .info-autor .boton{font-size: 11px;}
span.line{display: inline-block;width: 25.6%;float: none;}
.entero h5{display: inline-block; float: none;}
.entero.divicion{text-align: center;}
.article-gral{ content:""; display:table; padding-bottom: 0px !important; padding-top: 5px !important; min-height:20px;}
.article-gral img{width: 35.6% !important; margin-top: -5px; height: auto; margin-right: 5.9%;}
.article-gral h4, .article-gral p{width: 100%;}
.article-gral h4{font-size: 20px;}
.article-gral .cont-info-gral{width: 55.8%;}
.article-gral .extras,
.no-tablet{display: none !important;}
.si-tablet{display: block !important;}
.main section .footer-slide .extras{display: none;}
.posts-tablet{display: table;}

.entero-slide{max-width: 620px;margin: 0 auto 28px;}
span.breadcrumbs,
.header-category .extras-category .extras{display: none;}
.header-category h4{font-size: 23px; font-weight: normal;}
.header-category .extras-category{margin-top: 0;}
.slider-principal.videos img,
.main section .slider-principal{width: 100%; height: auto;}

.play_1, .play_2{display: none !important;}

.single article img.freatured-post{max-width: 100%;height: auto;margin: 0 auto;}
.single span.autor{display: none;}
.single article{padding: 10px;}
.single article.autor-home img{width: 16.5%;height: auto;margin-left: 10px;}

.single article.autor-home .post-autor p{margin-bottom: 0;}
.single .divicion span.line{width: 25.6%;}
.single article.slide .texto-slide{width: 40%;}
.single article.slide .slide_header{width: 59.4%; margin:-10px 2% 0 -10px;}
.single article.slide .slide_header img{width: 100%; height: auto;}
.single article.slide .texto-slide h3{font-size: 15px;}
.single article.slide .texto-slide .boton{margin-right: 0;}
.single article.slide .texto-slide span.paginacion{margin-right: 13%;margin-left: 13%;}
.header-category .extras-category ul li.mail{display: none;}
.siguenos-contacto .redes-siguenos{width: 184px;margin: 0 auto;}
.siguenos-contacto .redes-siguenos li.fb{margin-left: 17px;}
.single .entero.news blockquote{width: 100%;}
.new-header-category{position: relative;height: 28px;}
.single article iframe{width: 100%;margin: 0;}

.single .article-gral img{margin-top: -5px;margin-right: 5.9%;}

/* FOOTER */
footer .content-footer{width: 100%; padding: 10px 3.4%;}
footer .content-footer .footer-parte1{width: 21.3%; margin-right: 89px;}
footer .content-footer .footer-parte1 img{width: 136px; height: auto; margin-bottom: 13px;}
footer .content-footer .footer-parte1 ul.redes-footer{ padding-left: 9px;}
footer .content-footer .footer-partesitas{width: 16%;}
footer .content-footer .footer-parte1 p{margin-bottom: 13px;}
.ultimo_footer{margin-right: 12% !important;}

@media only screen and (max-width: 785px){
	#form_contacto{width: 100%;}
}

@media only screen and (max-width: 767px){
	footer .content-footer .footer-partesitas {width: 19%;margin-right: 2%;}
	.container .banner-top,
	.banner-bottom{display: none;}
	.content-header header nav#main-menu ul li {font-size: 0.9rem;}

}



@media only screen and (max-width: 727px){
	.span.line{width: 35%;}
	.extras-category,
	.header-category .extras-category .extras,
	.comentarios{display: none;}
	.single .header-category .extras-category {display: block; float: right; }
	.single article img.freatured-post {max-width: 100%;height: auto;margin: 0 auto;}
	.content-header.fix-head{position: fixed;}
	.content-header{background-size: 20px 73px; padding-top: 0; height: 75px; z-index: 9999;}
	.content-header header{width: 97.1%; box-shadow: none;background: none; padding-top: 14px; height: 75px; padding: 14px 0;}
	.content-header header .bt-mnu-responsive{display: block; cursor: pointer;float: left; margin-top: 4px;}
	.logo{position: absolute;width: 180px;height: 35px;margin-left: 50%;left: -90px;margin-top: -3px;background: url('../images/logo_res.png') no-repeat;}
	.content-header header .top-header ul.redes-sociales,
	.content-header header .top-header span{display: none;}
	.content-header header .top-header form input[type=submit]{background:#8bd3d9;margin-right: 2.7%; text-indent: 0;width: 11%;cursor: pointer; height: 28px;margin-top: 2px;text-align: center;padding: 0;}
	.logo a {width: 180px;height: 46px;}

	.content-header header .top-header{display: none; width: 103%; height: 39px; margin-right: -1.5%;background: #b0e1e5;margin-top:15px;}
	.content-header header .top-header form{width: 100%;}
	.content-header header .top-header input{width: 82.3%; height: 28px;margin-top: 6px;  border-color: #fff; margin-left: 2.7%; color: #fff;}
	.content-header header .top-header ::-webkit-input-placeholder { color:#fff; font-family: 'arvoregular'; font-style: italic; }
	.content-header header .top-header ::-moz-placeholder { color:#fff; font-family: 'arvoregular'; font-style: italic;} /* firefox 19+ */
	.content-header header .top-header :-ms-input-placeholder { color:#fff; font-family: 'arvoregular'; font-style: italic; } /* ie */
	.content-header header .top-header input:-moz-placeholder { color:#fff; font-family: 'arvoregular'; font-style: italic; }

	#main-menu{display: none; position: fixed !important; overflow-y: scroll; width: 320px !important; height: 100% !important; margin-top: 38px !important;padding-top: 18px; margin-left: -1.6% !important; z-index: 997; background: url('../images/f-mobile.png') no-repeat; background-color: #fff;}
	.content-header header nav#main-menu.visible{display: block;}
	.content-header header nav#main-menu.visible ul li{display: block; overflow: hidden; width: 100%; min-height: 49px; height: auto; border-radius: 0; color: #888888;font-size: 1.2rem;text-align: left; line-height: 53px; padding: 0;}
	.content-header header nav#main-menu.visible ul li:hover{background: transparent !important;}
	.content-header header nav#main-menu.visible ul li:hover a.mnu-a,
	.content-header header nav#main-menu.visible ul li.active a{color: #888888 !important;}
	.content-header header nav#main-menu.visible ul li.active{background: transparent !important;}
	.content-header header nav#main-menu.visible ul{width: 100%;position: relative;overflow: hidden;}
	.content-header header nav#main-menu.visible ul li a.bg-embarazo{border-color: #AE3079;}
	.content-header header nav#main-menu.visible ul li a.bg-dia-a-dia{border-color: #4E9BAB;}
	.content-header header nav#main-menu.visible ul li a.bg-nacimiento{border-color: #C57FA6;}
	.content-header header nav#main-menu.visible ul li a.bg-estimulacion{border-color: #A674B8;}
	.content-header header nav#main-menu.visible ul li a.bg-lactancia{border-color: #FAC600;}
	.content-header header nav#main-menu.visible ul li a.bg-entrevistas{border-color: #8FA0E0;}
	.content-header header nav#main-menu.visible ul li a {width: 100%;height: 49px;display: block; border-left:11px solid #fff; padding-left: 12px;}
	.content-header header nav#main-menu.visible ul li .submenu{display: none;width: 100%; position: relative;overflow: hidden;border: none;border-radius: 0;box-shadow: none; padding: 0; left: -0px !important; background: transparent;}
	.content-header header nav#main-menu.visible ul li .submenu .post-rel{display: none;}
	.content-header header nav#main-menu.visible ul li .submenu ul li{border: 0;}
	.content-header header nav#main-menu.visible ul li .submenu .subcategorias{width: 100%; }
	.content-header header nav#main-menu.visible ul li .submenu .subcategorias li{margin:0 13px; width: 92%; line-height: 50px; padding-left: 10px; border: 0; border-bottom: 1px solid #dddedf;}
	.content-header header nav#main-menu.visible ul li .submenu .subcategorias li a{border: 0; padding-left: 0;}
	.content-header header .bt-search-responsive{display: block;width: 20px; height: 20px;background: url(../images/iconos.png); background-position: -150px -43px; float: right;margin-top: 11px; cursor: pointer;}

	#main_sidebar{display: none;}
	.main section{width: 100%;}

	.article-gral{background: transparent; box-shadow: none; padding: 0 !important; overflow: hidden;}
	.article-gral .cont-info-gral{width: auto; margin-left: 193px; background: #fff;  padding-left: 15px; padding-right: 15px;}
	.article-gral img,
	.single .article-gral img{position: absolute;top: 0;left: 0;width: 40.3% !important;  margin-right: 1.9%;  margin-top: 0; max-width: 184px;}
	.article-gral .cont-info-gral .franja{display: block;width: 123%;margin-left: -15px; height: 20px; margin-bottom: 26px; }
	.single .article-gral{background: transparent; box-shadow: none;}
	.article-gral .cont-info-gral .franja-embarazo{background: #AE3079;}
	.article-gral .cont-info-gral .franja-dia-a-dia{background: #4E9BAB;}
	.article-gral .cont-info-gral .franja-nacimiento{background: #C57FA6;}
	.article-gral .cont-info-gral .franja-estimulacion{background: #A674B8;}
	.article-gral .cont-info-gral .franja-lactancia{background: #FAC600;}
	.article-gral .cont-info-gral .franja-entrevistas{background: #8FA0E0;}
	.article-gral .cont-info-gral .franja-promociones{background: #FF7A83;}

	h4.tit_principal{width:100%;font-size: 1rem; color: #B73BA1; padding-bottom: 11px; border-bottom: 1px solid #B73BA1; margin-bottom: 21px;}
	.article-gral.primer_post .img-gral2{width: 100% !important;}
	.img-gral2{display: block !important;}
	.img-gral1{display: none !important;}
	.article-gral.primer_post .cont-info-gral{width: 100%; padding-bottom: 13px;}
	.article-gral.primer_post .cont-info-gral .franja{margin-bottom: 13px;}

	.single article.autor-home,
	.autor-home{background: rgba(0, 0, 0, 0);box-shadow: none; border-bottom: 1px solid #D8B0EA;padding-top: 0; min-height: 161px;}
	.single article.autor-home img,
	.autor-home img{width: 139px; height: 139px; margin-top: 0;}
	.single article.autor-home .info-autor,
	.autor-home .info-autor {margin-left: 175px;display: block;margin-right: 0; }
	.single article.autor-home .post-autor,
	.autor-home .post-autor{display: none;}
	.single article.autor-home .info-autor{line-height: 20px;}
	.single article.autor-home img{top: 10px;}
	.single article.autor-home .info-autor h4{font-size: 20px;}
	.single article.autor-home{padding-top: 10px; border: 0;}
	.single h1{font-size: 24px; margin-bottom: 20px;}

	.texto-slide-mobile{position: relative;overflow: hidden;width: 283px; height: auto;margin: 0 auto 15px auto;}
	.texto-slide-mobile a{display: block; float: left; background: #A98EB4; text-decoration: none;}
	.texto-slide-mobile span.paginacion{display: block;font-size: 14px;color: #B73BA1;float: left;margin: 6px 25px 0 25px;}
	#form_contacto{width: 422px;}
	.mas-autor-t{margin-left: 175px;}

	.single .divicion span.line{width: 25.6%;}

	footer{padding: 0 1.9% 12px 1.9%; font-size: 0.8rem;}

	footer .p-footer{width: 100%; height: auto; text-align: center; color: #fff; margin-top: 12px; margin-bottom: 18px;}
	footer .p-footer a{color: #fff; text-decoration: none;}
	footer ul.redes-footer{ width: 120px;padding-left: 0;margin: 0 auto 12px auto; }
	footer .news-footer{}
	footer .news-footer p{color: #fff;}
	footer .news-footer{position: relative; overflow: hidden; width: 300px; margin: 0 auto; text-align: center;}
	footer .news-footer input[type=email]{width: 226px; height: 27px; border-radius: 5px 0 0 5px; border: 0; color: #A88EB5; padding: 0 10px;}
	footer .news-footer ::-webkit-input-placeholder { color:#A88EB5; font-family: 'arvoregular';  }
	footer .news-footer ::-moz-placeholder { color:#A88EB5; font-family: 'arvoregular'; } /* firefox 19+ */
	footer .news-footer :-ms-input-placeholder { color:#A88EB5; font-family: 'arvoregular';  } /* ie */
	footer .news-footer input:-moz-placeholder { color:#A88EB5; font-family: 'arvoregular';  }

	footer .news-footer input[type=submit]{width: 74px; height: 27px; background: #C1D091; color: #fff; border: 0;border-radius: 0 5px 5px 0;}

	.no-mobile{display: none !important;}

	.si-mobile{display: block !important;}
}

@media only screen and (max-width: 513px){
	.article-gral h4{font-size: 1.2rem;}
}

@media only screen and (max-width: 480px){
	.single .article-gral img,
	.article-gral img{position: relative;}
	.article-gral .cont-info-gral{width: 57.8%; margin-left: 0;}
	#form_contacto {width: 100%;}
	#form_contacto input,
	#form_contacto textarea{max-width: 100%;}
}

@media only screen and (max-width: 440px){
	.single article.autor-home img,
	.autor-home img{width: 92px; height: 92px; left: 0;}
	.single article.autor-home .info-autor,
	.autor-home .info-autor,
	.mas-autor-t{margin-left: 110px;}
	.autor-home {padding-left: 0;padding-right: 0;}
	.single article.autor-home, .autor-home{min-height: 133px;}
	#form_contacto{padding: 20px 10px}
}

@media only screen and (max-width: 400px){
	.article-gral h4{font-size: 1rem;}
	.article-gral .cont-info-gral .franja{margin-bottom: 15px;}
	.footer-slide .excertp-p{display: none;}
	.main section .footer-slide h4 {font-size: 17px;}
	span.line {width: 19.6%;}
	.single .divicion span.line{width: 19.6%;}
	.entero.divicion.autor span.line{width: 11%;}
	.single article.slide .slide_header {width: 100%;margin: 0 0 20px;}
}

@media only screen and (max-width: 330px){
	footer{font-size: 0.75rem;}
	.single article.autor-home .info-autor, .autor-home .info-autor{width: 182px;}
}